@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=EB+Garamond&display=swap: 100,200,300,400,500,600,700|Serif: 100,200,300,400,500,600,700');


/* ---------------------------------------------------Colors */








/* ---------------------------------------------------Nav Bar */

.navbar {
    margin: 0;
    padding: 1%;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    color: #095E25;
    background-color: #EAF9EF;
}





/* ---------------------------------------------------Title*/

.title-image {
    background: url("../images/MariaHughesSopranosmallsize.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 900px;
    min-height: 800px;
}

.name {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #095E25;
}

.title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #095E25;
}


/* ---------------------------------------------------About */





/* ---------------------------------------------------Media */





/* ---------------------------------------------------Gallery */

.bg-color-gallery {
    background-color: #EAF9EF;
}



/* ---------------------------------------------------Contact */

.contact-heading {
    font-family: 'Cormorant Garamond', serif;;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #095E25;
    background-color: #EAF9EF;
}



/* ---------------------------------------------------Footer */

footer {
    height: 150px;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #095E25;
}