@import url('https://fonts.googleapis.com/css2?family=Roboto: 100,200,300,400,500,600,700|Exo: 100,200,300,400,500,600,700');

/* ---------------------------------------------------Colors */




/* ---------------------------------------------------Nav Bar */

.navbar {
    background-color:F5FBF7;

}


/* ---------------------------------------------------About */





/* ---------------------------------------------------Media */





/* ---------------------------------------------------Gallery */




/* ---------------------------------------------------Contact */





/* ---------------------------------------------------Footer */