@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Tinos&display=swap: 100,200,300,400,500,600,700|Serif: 100,200,300,400,500,600,700');



/* ---------------------------------------------------Nav Bar */

.navbar {
    margin: 0;
    padding: 1%;
    background: #000;
}

.navbar-style {
    font-family: serif;
    font-weight: 300;
    color: #fff;
    background-color: #000 !important;
}

.navbar-brand {
    color: #fff !important;
}





/* ---------------------------------------------------Title*/

.title-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 900px;
    min-height: 800px;
    position: relative;
    top: 150px; 
}

.title-image img {
    width: 70%;
    height: auto;
    margin-left: 30%;
}

.name-title {
    position: absolute;
    height: 300px;
    top: calc(50% - 300px);
    background: #fff;
    border: 10px solid #000;
    padding: 2rem 4rem;

}

.name {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 46px;
    margin-top: 3rem;
    color: #000;
    text-align: right;
}

.title {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: 28px;
    margin-top: 1rem;
    margin-bottom: 90px;
    color: #000;
    text-align: right;
}


/* ---------------------------------------------------About */

.about-info {
    display: inline-block;
    float: left;
    width: 66%;
}

.about-image-wrapper, .media-image-wrapper {
    width: 100%;
    position: relative;
    font-family: 'EB Garamond', serif;
}

.about-image-wrapper img, .media-image-wrapper img {
    width: 70%;
    float: right;
}

.about-image-wrapper h2, .media-image-wrapper h2 {
    position: absolute;
    height: 150px;
    top:100%;
    background: #fff;
    border: 10px solid #000;
    padding: 2rem 4rem;
    font-family: 'EB Garamond', serif;
}

.media-image-wrapper h2 {
    margin-top:100px;
    font-family: 'EB Garamond', serif;
}

.section-paragraph {
    font-family: serif;
    color: #000;
}


/* ---------------------------------------------------Media */


.media-section {
    margin-top: 12rem;
}
.media {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.media-image {
    width: 50px !important;
    height: 50px !important;
}

.media a:hover {
    width: 60px;
}



/* ---------------------------------------------------Gallery */
.gallery-section {
    margin-top: 12rem;
    position: relative;
}

.gallery-heading {
    position: absolute;
    height: 150px;
    top: -100px;
    background: #fff;
    border: 10px solid #000;
    padding: 2rem 4rem;
    text-align: center;
    left: 150px;
    font-family: 'EB Garamond', serif;
}
.gallery-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.gallery-row img {
    width: 300px;
    height: 350px;
}





/* ---------------------------------------------------Contact */
.contact-section {
    margin-top: 12rem;
}
.contact-heading {
    text-align: center;
    width: 100%;
    font-family: 'EB Garamond', serif;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    width: 50%;
}

.form-control {
    border: 5px solid #000 !important;
    border-radius: 0 !important;
    height: 60px;
    margin-bottom: 1rem;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #000;
}

.btn {
    background: #000 !important;
    color: #fff !important;
    letter-spacing: 2px !important;
    font-weight: 800;
    border-radius: 0 !important;
    font-family: 'EB Garamond', serif;
}



/* ---------------------------------------------------Footer */

footer {
    height: 150px;
    background: black;
    margin-top: 5rem;
    width: 100% !important;
}

.footer-header {
    margin: 0 auto;
    color: #fff;
}


/* ---------------------------------------------------Media Screens */


@media screen and (max-width: 1035px) {

    #name-title {
        position: absolute;
        height: 30px;
        top: 66px;
        background: #fff;
        border: 5px solid #000;
        padding: 2rem 4rem;
    }

    
    #name {
        font-family: 'EB Garamond', serif;
        font-weight: 400;
        font-size: 18px;
        margin-top: -2rem;
        color: #000;
        text-align: right;
    }

    #title {
        font-family: 'EB Garamond', serif;
        font-weight: 600;
        font-size: 10px;
        margin-top: 1rem;
        margin-bottom: 90px;
        color: #000;
        text-align: right;
    }




    #about-image-wrapper img, #media-image-wrapper img{
        display: none;
    }

    #about-image-wrapper h2, #media-image-wrapper h2 {
        position: absolute;
        height: 30px;
        top: 66px;
        background: #fff;
        border: 5px solid #000;
        padding: 1rem 2rem;
        font-family: 'EB Garamond', serif;
        text-align: center;
    }



    
    #gallery-heading {
        position: absolute;
        height: 75px;
        top: -50px;
        background: #fff;
        border: 5px solid #000;
        padding: 1rem 2rem;
        text-align: center;
        left: 60px;
        font-family: 'EB Garamond', serif;
    }

}

